
 @font-face { font-family: Delicious; src: url('JosefinSans-Regular.ttf'); }

.header {
  height: 30px; 
  padding-top: 10px;
  margin-top: 0px;
  border-top: 0px;
  background: #D85428;
  color: white;
}

.header h1 {
  padding: 0px;
  margin-top: 0px;
  font-family: Delicious;
  text-align: center;
}

body {
  
  
	background: #f6d3c0;
  align-content: center;
}

#NavigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Delicious;

}

#NavigationBar ul li {
  border-right:1px solid #bbb;
}

#NavigationBar ul li:last-child {
  border-right: none;
}

#NavigationBar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f6d3c0;
  text-align: center;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
  align-content: center;
  border-radius: 3%;
}

#ContentBlocks {
	display: block;
  align-content: center;
  border-radius: 3%;
  width: 100%
}

#ReportInfo {
	width: 700px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin: 5px;
	background: #333;
	color: white;
	text-align: center;
  align-content: center;
}

#AnimeApprovals {
	width: 700px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin: 5px;
	background: #333;
	color: white;
	text-align: center;
}

#userName{
  float: right;
}
#left{
  float:left ;
}

#logout {
  float: right;
}

button {
  border-radius: 5px;
  background-color: #474747;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


button:hover {
  background-color: #595959;
}