
@font-face { font-family: Delicious; src: url('JosefinSans-Regular.ttf'); }
@font-face { font-family: Bada; src: url('JosefinSans-Regular.ttf'); }

.animeTitle{
  font-family: Bada;
  position: relative;
  font-size: 70px;
}

.newReport{
  top: 40px;
  position: relative;
}

.animeReviews{
   top: 40px;
  position: relative;
}

.animeImage{
  position: absolute;
  font-size: 70px;
}
.animeDescription{
  font-size: 20px;
  width: 80%;
  height: 300px;
  display:block;
}

#Anime div{
  position: relative;
  left: 20%;
  padding: 3px;
  border: 1px;
  color: black;
  display:block;
}

#Anime{
  border: 10px;
  border-color: black;
  position: absolute;
  background-color: #f4dfd3;
  left: 5%;
  top: 15%;
  right: 5%;
  border-radius: 10%;
  padding: 5%;

}


.header {
  height: 30px; 
  padding-top: 10px;
  margin-top: 0px;
  border-top: 0px;
  background: #D85428;
  color: white;
}

.header h1 {
  padding: 0px;
  margin-top: 0px;
  font-family: Delicious;
  text-align: center;
}

body {
  display: block;
  margin: 0px;
  background-color: #f6d3c0;
}

#NavigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Delicious;
}

#NavigationBar ul li {
  border-right:1px solid #bbb;
}

#NavigationBar ul li:last-child {
  border-right: none;
}

#NavigationBar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#userName{
  float: right;
}
#left{
  float:left ;
}

#logout {
  float: right;
}

