
@font-face { font-family: Delicious; src: url('JosefinSans-Regular.ttf'); }
@font-face { font-family: Bada; src: url('JosefinSans-Regular.ttf'); }


.header {
  height: 30px; 
  padding-top: 10px;
  margin-top: 0px;
  border-top: 0px;
  text-align: center;
  background: #D85428;
  color: white;
  font-size: 20px;

}

#titleSuggested{
  left: 30%;
  display: block;
}

.titleText{
  font-family: Bada;
  position: relative;
  text-align: center;
}

.descriptionText{
  font-family: Bada;
  position: relative;
  text-align: center;
}

#descriptionSuggested{
  display: block;
}

.submitSuggestionButton{
  display: block;
  font-family: Bada;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
  left: 30%;
}

#Anime div{
  padding: 3px;
  border: 1px;
  border-color: black;
  border-style: solid;
  color: black;

  display:inline-block
}

#Anime{
  border: 10px;
  border-color: black;
  position: absolute;
  background-color: #f4dfd3;
  left: 30%;
  top: 20%;
  border-radius: 3%;
  padding: 20px;

}

.AnimeDescription {
  border: 1px orange;
}

.header {
  height: 30px; 
  padding-top: 10px;
  margin-top: 0px;
  border-top: 0px;
  background: #D85428;
  color: white;
}

.header h1 {
  padding: 0px;
  margin-top: 0px;
  font-family: Delicious;
  text-align: center;
}

body {
  display: block;
  margin: 0px;
  background-color: #f6d3c0;
}

#NavigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#NavigationBar ul li {
  border-right:1px solid #bbb;
}

#NavigationBar ul li:last-child {
  border-right: none;
}

#NavigationBar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#userName{
  float: right;
}
#left{
  float:left ;
}

#logout {
  float: right;
}

.titleTextBox {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #FBF4EE;
  resize: none;
}

.DescTextBox {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #FBF4EE;
  resize: none;
}


