<!DOCTYPE html>
<html lang="en">

<head> 
	<meta charset="utf-8">
	<title>Anime Page</title>
	<link rel="stylesheet" type="text/css" href="/style/Anime.css">
</head>


<body>
	<div class="header">
		<h1>My Great Otaku List</h1>
	</div>
	<div id="NavigationBar">
		<ul>
			<li id = "left"><a href="/index">Home</a></li>
			<li id = "left"><a href="/AllAnime">All Anime List</a></li>	
			<li id = "left"><a href="/SuggestAnime">Request an Anime</a></li>
			<li id = "logout"><a id = "l1" href="/users/logout">Log out</a></li>
			<li id = "userName"><a id = "l2" href="/userprofile">Hello, {{userName}}</a></li>
			
		</ul>
	</div>
	<div id="Anime">

	</div>


	<script type="text/javascript" src="/js/Anime.js"></script>
	<script type="text/javascript" src="/js/changeLogin.js"></script>
	 <script>var x = "{{userName}}"; update(x);</script>
	<script> var name = "{{animeName}}";load(name);</script>
</body>

</html>