<!DOCTYPE html>
<html lang="en">

<head> 
 	<meta charset="utf-8">
    <title>My Great Otaku List</title>
    <link rel="stylesheet" type="text/css" href="./style/mainPage.css">
 </head>


 <body onload="update_main_page();">
 	<div class="header">
  		<h1>My Great Otaku List</h1>
	</div>
	<div id="NavigationBar">
		<ul>
		<li id = "left"><a href="/index">Home</a></li>
		<li id = "left"><a href="/AllAnime">All Anime List</a></li>	
		<li id = "left"><a href="/SuggestAnime">Request an Anime</a></li>
		<li id = "logout"><a id = "l1" href="/users/logout">Log out</a></li>
		<li id = "userName"><a id = "l2" href="/userprofile">Hello, {{userName}}</a></li>
		
	</ul>
	</div>
 	<div class="anime_info">
		<div class="trending_anime">
			<h1>Newest Anime</h1>
			<div class="trending_three">
				<ul>
					
				</ul>

			</div>

			<div class="trending_reviews">
					<h1>Newest Reviews</h1>
				

			</div>
		
		</div>

		<div class="top_ten_anime">
			<h1>Top Anime</h1>
			<div class="top_ten">
				<ol>	  
				
				</ol> 		
			</div>
	    </div>
	</div>
	
	<script type="text/javascript" src="/js/mainPage.js"></script>
	<script type="text/javascript" src="/js/Anime.js"></script>
	 <script type="text/javascript" src="/js/changeLogin.js"></script>
 	<script>var x = "{{userName}}"; update(x);</script>

 </body>

 </html>